<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>

    {% include header.html %}

    <main class="landing-content" id="contact-content" aria-label="Content">
      <div class="wrapper">
        <div class="contact">

          <p style="text-align: center; letter-spacing: 1px; font: Helvetica Neue;">It is my honor to hear your thoughts. Please share with me.</p>

          <p style="text-align: center; letter-spacing: 1px; font: Helvetica Neue;">Email: tenny.nt3@gmail.com</p>

          <p style="text-align: center; letter-spacing: 1px; font: Helvetica Neue;">Linkedin: www.linkedin.com/in/thaontt</p>

          <p style="text-align: center; letter-spacing: 1px; font: Helvetica Neue;">Thank you for reaching Tourism in Loupe!</p>
          
          {% include contact-icons.html %}

        </div>
      </div>
    </main>

    


  </body>

</html>
